/* hero video */
#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/space-background.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 3rem;
}

#video iframe, #video video{
    width: 400px;
    height: 300px;
}

/* description */
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
    background-color: var(--dark-purple);
    padding: 4rem 0 0;
}

.description article {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.description section {
    border-radius: 20px;
    width: 150px;
    margin: 0 1rem;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.description section div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
    transition: 0.3s;
}

.description section div:hover {
    transform: scale(1.2);
}

.description p {
    margin: 3.5rem 1rem 1rem;
    padding-top: 2rem;
    border-top: 2px solid purple;
}

.extend {
    height: 450px;
}

.retract {
    height: 200px;
}

/* Community */
.community {
    display: flex;
    flex-direction: row;
    padding: 4rem 0;
    width: 100%;
}

.community section {
    padding: 2rem;
}

/* PC requirements */
.stats {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-purple);
    width: 100%;
}

/* Media Queries */
/* Small devices (landscape phones, 500px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .description section {
        width: 200px;
    }

    .description section div {
        height: 200px;
    }

    .description article {
        height: 600px;
    }

    .extend {
        height: 500px;
    }

    #video iframe, #video video {
        width: 600px;
        height: 400px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .description section {
        width: 300px;
    }

    .description section div {
        height: 300px;
    }
    
    .description article {
        height: 650px;
    }

    .retract {
        height: 300px;
    }

    .extend {
        height: 600px;
    }

    .stats {
        margin-top: 2rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #video iframe, #video video {
        height: 500px;
        width: 700px;
    }
}
@media (min-width: 1400px) {
    .description article {
        gap: 4rem;
    }

    .community {
        padding: 4rem 15rem;
        gap: 10rem;
    }

    .stats {
        padding: 4rem;
    }
}