/* hero video */
#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/space-background.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 3rem;
}

#video iframe, #video video{
    width: 400px;
    height: 300px;
}

/* description */
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
    background-color: var(--dark-purple);
    padding: 4rem 0 0;
}

.description article {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.description section {
    border-radius: 20px;
    width: 150px;
    margin: 0 1rem;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.description section div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
    transition: 0.3s;
}

.description section div:hover {
    transform: scale(1.2);
}

.description p {
    margin: 3.5rem 1rem 1rem;
    padding-top: 2rem;
    border-top: 2px solid purple;
}

.extend {
    height: 450px;
}

.retract {
    height: 200px;
}

/* Custom */
.custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
}

.custom section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
}

/* Community */
/* Community grid */
.community-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--dark-purple);
}

.community-grid article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.community-grid section {
    height: 300px;
    width: 400px;
    margin: 1rem 0;
    position: relative;
}

.community-grid h2 {
    margin: 1rem;
}

.community-grid iframe {
    height: 300px;
    width: 400px;
}

.creator-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 0;
    background-color: black;
    bottom: 0;
    right: -1;
    z-index: -1;
    transition: 0.2s;
    padding: 1rem;
}

.creator-description a {
    width: 50px;
    height: 30px;
    background-color: #2e1865;
    align-self: end;
}

.creator-description-extend {
    height: 100px;
    z-index: 1;
}

/* Community carousel */
.community-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.community-carousel-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--dark-purple);
}

.owl-block {
    display: block;
}

.item {
    margin: 1rem 0;
}

.item img {
    object-fit: contain;
}

/* PC requirements */
.stats {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .description section {
        width: 200px;
    }

    .description section div {
        height: 200px;
    }

    .description article {
        height: 600px;
    }

    .extend {
        height: 500px;
    }

    #video iframe, #video video {
        width: 600px;
        height: 400px;
    }
    
    .community-carousel {
        width: 600px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .description section {
        width: 300px;
    }

    .description section div {
        height: 300px;
    }
    
    .description article {
        height: 650px;
    }

    .retract {
        height: 300px;
    }

    .extend {
        height: 600px;
    }

    .stats {
        margin-top: 2rem;
    }

    .custom {
        flex-direction: row;
        padding: 2rem;
    }

    .stats {
        padding: 2rem 0;
    }

    .community-carousel {
        width: 800px;
    }

    .community-carousel-wrapper {
        padding: 2rem 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #video iframe, #video video {
        height: 500px;
        width: 700px;
    }
    .community-carousel {
        width: 1100px;
    }

    .community-carousel-wrapper {
        padding: 4rem 0;
    }
}
@media (min-width: 1400px) {
    .description article {
        gap: 4rem;
    }

    .custom {
        padding: 4rem 4rem;
        gap: 3rem;
    }

    .stats {
        padding: 4rem;
    }

    .community-grid {
        padding: 4rem 10rem;
    }

    .community-carousel {
        width: 1300px;
    }
}